/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   schessa.com/css/main.css
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* -------------------------------------------------------------------------
   Background, Colors, and Fonts
   ------------------------------------------------------------------------- */

body {
	/*background-color: #FDF3ED;*/
	background-color: #FDF6F1;
	background-image: url("../img/background.png");
	background-size: 640px 400px;
	background-repeat: repeat;
}

.container {
	background: #FDF6F1;
};

body {}

p {
	font-family: 'Muli', sans-serif;
	color: #6D6E70;
}

a:link,
a:visited {
	text-decoration: none;
	color: #EA8924;
}

a:hover,
a:active {
	text-decoration: underline;
	color: #EA8924;
}

::-moz-selection {
	color: #FDF6F1;
    background: #B676B2;
}

::selection {
	color: #FDF6F1;
    background: #B676B2;
}

/* -------------------------------------------------------------------------
   Layout
   ------------------------------------------------------------------------- */

body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.container {
	max-width: 450px;
	padding: 30px;
	border-radius: 5px;
}

img#logo {
	width: 200px;
	height: 70px;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
  body {
  	padding-top: 170px;
  }
  .container {
    max-width: 740px;
  }
}
